exclude: ^resources/
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
    -   id: ruff-format
    -   id: ruff
        args: [--fix]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'
    hooks:
    -   id: mypy
        args:
        -   --strict
        -   --ignore-missing-imports
        -   --explicit-package-bases
        additional_dependencies: [tokenize-rt==3.2.0]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        language: python
        additional_dependencies: [pytest, pytest-cov, pytest-testmon, ".", "customtkinter"]
        pass_filenames: false
        always_run: true

-   repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
    -   id: mdformat
        args: ["--wrap", "80"]

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    submodules: false
    skip: [pytest]
