name: AmplifyP post-commit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.12', '3.13', '3.14']
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python --version
    - name: Install pytest
      run: |
        pip install pytest-cov
    - name: Run pytest
      run: |
        coverage run -m pytest --ignore=tests/test_gui_state.py
    - name: Display coverage report
      run: |
        coverage report -m
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3
